# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
env/
venv/

# SQLite databases
*.db

# Pytest cache
.pytest_cache/

# IDE
.idea/
.vscode/

# PyInstaller
build/
dist/
spec/
# PyInstaller cache
__pyinstaller/

# Coverage
.coverage
.coverage.*
.coverage.*.xml
.coverage.*.html
.coverage.*.json
.coverage.*.lcov
.coverage.*.lcov.info
.coverage.*.lcov.html
.coverage
